*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1420px;
    background-color: black;
}

.header_inner{
    padding: 33px;
    
}

.header_inner p{
    text-color:#666666;
}